<!-- Register Page -->
<section id="register-section" class="narrow">

    <h1 class="item">Register</h1>

    <div class="item padded align-center">

        <form class="aligned" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            
            <label>
                <span>Email</span>
                <input type="text" formControlName="email">
            </label>
            <label>
                <span>First name</span>
                <input type="text" formControlName="firstname">
            </label>
            <label>
                <span>Last name</span>

                <input type="text" formControlName="lastname">
            </label>
            
            <label>
                <span>Password</span>
                <input type="password" formControlName="password">
            </label>
            <label>
                <span>Repeat Password</span>
                <input type="password" formControlName="repass">
            </label>
        

            <div class="align-center">
                <button class="action" type="submit">Create Account</button>
            </div>

        </form>
        <!-- {{registrationForm.value |json}} -->
    </div>

</section>
